# Directory
node_modules
.node-persist
.idea
db

# Dot files
.idea
.node-persist

# Log files
*.log

# Session files
*.data.json

# Workspace files
*.code-workspace

# Lock files
package-lock.json
*.lock

# Other files
premium.js
quotemsg.js
utils/getScreenshot.js
utils/flat.json
lib/instaStory.js
lib/jiwa.js
lib/quran.js
lib/giphy.js
lib/*.json
lib/instaStory.js
lib/jiwa.js
utils/anu.js
