node_modules
.idea
debug.log
*.data.json
premium.js
quotemsg.js
lib/quran.js
util/flat.json
util/getScreenshot.js
utils/canvas.js
utils/flat.json
utils/getScreenshot.js
.node-persist
*.code-workspace
lib/instaStory.js
lib/jiwa.js

package-lock.json
