node_modules
.node-persist
.idea
*.code-workspace
debug.log
package-lock.json
*.data.json

premium.js
quotemsg.js

utils/getScreenshot.js
utils/*.json

lib/instaStory.js
lib/jiwa.js
lib/quran.js
lib/giphy.js
lib/*.json
